<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
<appender name="aiappender" 
    			class="com.microsoft.applicationinsights.ApplicationInsightsAppender">

</appender>
    <appender name="console" 
    			class="ch.qos.logback.core.ConsoleAppender">
    </appender>
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="aiappender" />
    </root>
</configuration>